.accordion__item-question-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem 1rem 2rem;

  background-color: rgb(238,238,238);

  cursor: pointer;
}

.accordion__item-question-container:hover {
  background-color: rgb(202,204,205);
}

.accordion__item-icon {
  transition: transform 1s;
  transition-timing-function: ease-out;
}
