* {
  box-sizing: content-box;
  margin: 0rem;
}

.article {
  width: min(80%, 31.25rem); /*500px*/
  padding: 2rem;
  margin: 0rem auto 0rem auto;
  /*
  Parent Div's Width = Child Div's Width + Padding + Border + Margin
  375px = width: min(80%, 31.25rem), so (300px) + (32px + 32px) + 0px + margin: 0rem auto 0rem auto, so (5.5px + 5.5px)
  */
}

.article__content {
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}

.article__read-more-button {
  color: white;
  font-size: 14px;

  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  background-color: rgb(50,164,219);

  border-style: solid;
  border-color: rgb(50,164,219);
  border-radius: 10px;
}