* {
  box-sizing: content-box;
  margin: 0rem;
}

.password {
  width: 300px;
  margin: 10rem auto 0rem auto;
  text-align: center;
}

.password__password-strength-container {
  display: flex;
  flex-direction: row;

  margin-top: 2rem;
}

.password__password-strength-bar {
  width: 100px;
  height: 10px;
}